.main_form {

    justify-content: center;


}

form input {
    height: 40px;
    width: 500px;
    border-bottom: 1px solid rgba(15, 3, 146, 0.787);
    padding-bottom: 5px;
}

form textarea {
    border-bottom: 1px solid rgb(15, 3, 146, 0.787);
}

form textarea:hover {
    border: 1px solid rgb(15, 3, 146, 0.787);
}

/* form input:hover {
    border: 2px solid red;
} */

form .baton {
    height: 35px;
    width: 60px;
    padding: 5px;
    margin-left: 400px;
    background-color: #093F7C;
    color: white;

}