.film-gnt {
  background: rgb(162, 197, 238);
  background: radial-gradient(
    circle,
    rgba(162, 197, 238, 1) 12%,
    rgba(22, 53, 84, 1) 49%,
    rgba(0, 6, 11, 1) 100%
  );
}

.fast_section h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

.fast_section h2 {
  position: absolute;
  top: 40%;
  left: 55%;
  color: white;
  transform: translate(-50%, -50%);
}

/* section 1 style end  */

/* section 2 style start  */
.sign_up_baton {
  padding: 15px 30px;
}

.sign_up_baton:hover {
  border: 1px solid#0170B8;
  background-color: white;
  color: #0170b8;
}

/* .dater_times {
    background-image: url("../img/icon/timetable.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
} */

/* section  style end  */
.gredent_color {
  height: 580px;
  width: 100%;
  background: #fc5c7d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* section 4 */
.earth {
  background-image: url("./assets/svgexport-11.svg");
  height: 400px;
  width: 400px;
  background-position: center;
  background-size: cover;
}
